body {
    font-family: Arial;
    margin:0;
}

h1 {
    color: #333;
    text-align: center;
    
}

p {
    font-size: 16px;
}

nav {
    width: 100%;
    height: 70px;
    background-color: gray;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  width: 15%;
  height:100%;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */

}
li {
    text-align: center;
    color: #000
}

li a {
    display: block;
    /* background-color: #dddddd;  */
    text-decoration: none;
    padding: 8px 16px;
}

/* Change the link color on hover */
li a:hover:not(.active){
    background-color: #555;
    color: white;
  }


  .main {

    margin-left:15%;
    padding:1px 16px;
    height:1000px;
  }
/* 
  .sidenav{
    list-style-type: none;
    margin: 0;
    padding: 0;


    height:100%;
    position: fixed; 
    overflow: auto;
  
  } */

  .sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav a, .dropdown-btn {
    padding: 6px 6px 6px 6px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: center; 
    color: #000
  }

  .sidenav a.active {
    background-color: #04AA6D;
    color: white;
  }


  .dropdown-container a.active {
    background-color: #04AA6D;
    color: white;
  }

  .sidenav a:hover:not(.active){
    background-color: #555;
    color: white;
  }

  .dropdown-container {
    display: none;
    background-color: #d1caca;
    padding-left: 8px;
  }

  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  